<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwani.mapper.AlbumPageMapper">

<resultMap type="hashMap" id="result"></resultMap> 

<select id="getAlbumInfoList" resultMap="result">
<![CDATA[
select al.album_id, al.album_ttl, al.album_img, al.rles_dt, a.grop_id, a.nm, at.track_id, t.track_ttl, t.track_order, to_char(al.rles_dt, 'yyyy-mm-dd') RLESDT 
from t_artist a, t_artist_tracks at, t_tracks t, t_album al
where a.grop_id = at.grop_id
and t.track_id = at.track_id
and al.album_id = t.album_id
and al.album_id = #{albumId}
order by t.track_order
]]>
</select>

<select id="getAlbumArtistList" resultMap="result">
<![CDATA[
select distinct a.grop_id, a.nm 
from t_artist a, t_artist_tracks at, t_tracks t, t_album al
where a.grop_id = at.grop_id
and t.track_id = at.track_id
and al.album_id = t.album_id
and al.album_id = #{albumId}
]]>
</select>

</mapper>