<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kwani.mapper.ListMapper">
  
   <resultMap type="com.kwani.domain.PListVO" id="PListResult">
 	<result property="trackId" column="track_id" />
 	<result property="nm" column="nm" />
 	<result property="trackTtl" column="track_ttl" />
 	<result property="plylstId" column="plylst_id" />
 	<result property="plylstNm" column="plylst_nm" />
 	
 	<result property="type" column="type" />
 	<result property="genreCd" column="genre_cd" />
 	<result property="debutDt" column="debut_dt" />
 	<result property="albumTtl" column="album_ttl" />
 	<result property="imgPath" column="img_path" />
 	<result property="sex" column="sex" />
 	<result property="albumId" column="album_id" />
 	<result property="gropId" column="grop_id" />
 	<result property="albumImg" column="album_img" />
 	<result property="gropImg" column="grop_img" />
 	<result property="rcmdPlylstId" column="rcmd_plylst_id" />
 	<result property="rcmdPlylstNm" column="rcmd_plylst_nm" />
 	<result property="rcmdPlylstImg" column="rcmd_plylst_img" />
 	
 	
 </resultMap>
 
 
  <!-- 플레이리스트 상세 페이지 -->
  <select id="getListName" resultMap="PListResult">
  <![CDATA[
  select rcmd_plylst_nm from t_rcmd_plylst where rcmd_plylst_id = #{plylstId}
  ]]>
  </select>
  
  <select id="getListDtl" resultMap="PListResult">
  select a.nm, t.track_ttl 
  from t_rcmd_plylst_dtl dtl, t_tracks t, t_artist_tracks at, t_artist a
  where dtl.track_id = t.track_id
  and t.track_id = at.track_id
  and a.grop_id = at.grop_id
  and dtl.plylst_type_id = #{plylstId}
  </select>
  
  <!-- 일반추천 페이지 관련 -->
    <select id="getAllList" resultMap="PListResult">
  <![CDATA[
  select rcmd_plylst_id, rcmd_plylst_nm, rcmd_plylst_img from t_rcmd_plylst
  ]]>
  </select  >
  
  <!-- 가수 검색 페이지 -->
  <select id="getSearchRst" resultMap="PListResult">
  	select a.nm, a.sex, a.type, a.debut_dt, a.grop_img, al.album_img, al.album_ttl, t.track_ttl  
  	from t_tracks t, t_artist_tracks at, t_artist a, t_album al
	where t.track_id = at.track_id
	and at.grop_id = a.grop_id
	and t.album_id = al.album_id
	and a.nm like '%'||#{searchTxt}||'%'
  </select>
  

  
  
  
  
  </mapper>