<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwani.mapper.TableMapper">

	<resultMap type="hashMap" id="selectMap"></resultMap>

	<select id="getSeqGropCurrval" resultType="int">
		select
		seq_grop.currval from dual
	</select>


	<select id="getArtistGroup" resultMap="selectMap">
		select * from
		t_artist_group where grop_id=#{gropId} and solo_id=#{soloId}

	</select>
	<select id="getAlbumById" resultMap="AlbumResult">

		select * from t_album where
		album_id =#{albumId}
	</select>


	<select id="getUser" resultMap="UserResult">
		select * from t_user where email
		=#{email}

	</select>

	<select id="getTracksToInsert" resultMap="TrackResult">
		select
		t.track_id,t.track_ttl from t_tracks t
		where t.track_id not in(
		select
		track_id
		from t_artist_tracks
		)
	</select>

	<select id="getUserList" resultMap="UserResult">
		select * from t_user
	</select>


	<!--USER MAP -->
	<resultMap type="com.kwani.domain.UserVO" id="UserResult">
		<result property="email" column="EMAIL" />
		<result property="nick" column="NICK" />
		<result property="pwd" column="PWD" />
		<result property="userImg" column="USER_IMG" />
		<result property="stusCd" column="STUS_CD" />
		<result property="lastDt" column="LAST_DT" />
	</resultMap>

	<!--ALBUM MAP -->
	<resultMap type="com.kwani.domain.AlbumVO" id="AlbumResult">
		<result property="albumId" column="ALBUM_ID" />
		<result property="albumTtl" column="ALBUM_TTL" />
		<result property="albumImg" column="ALBUM_IMG" />
		<result property="rlesDt" column="RLES_DT" />
		<result property="stusCd" column="STUS_CD" />
	</resultMap>

	<!--TRACKS MAP -->
	<resultMap type="com.kwani.domain.TracksVO" id="TrackResult">
		<result property="trackId" column="TRACK_ID" />
		<result property="trackTtl" column="TRACK_TTL" />
		<result property="trackUrl" column="TRACK_URL" />
		<result property="albumId" column="ALBUM_ID" />
		<result property="moodCd" column="MOOD_CD" />
		<result property="genreCd" column="GENRE_CD" />
		<result property="situCd" column="SITU_CD" />
		<result property="stusCd" column="STUS_CD" />
		<result property="ttlTrack" column="TTL_TRACK" />
		<result property="trackLyrics" column="TRACK_LYRICS" />
		<result property="trackOrder" column="TRACK_ORDER" />

	</resultMap>

	<!--ARTIST MAP -->
	<resultMap type="com.kwani.domain.ArtistVO" id="ArtistResult">
		<result property="gropId" column="GROP_ID" />
		<result property="nm" column="NM" />
		<result property="sex" column="SEX" />
		<result property="type" column="TYPE" />
		<result property="debutDt" column="DEBUT_DT" />
		<result property="stusCd" column="STUS_CD" />
		<result property="gropImg" column="GROP_IMG" />
	</resultMap>

	<!--ADMIN MAP -->
	<resultMap type="com.kwani.domain.AdminVO" id="AdminResult">
		<result property="mngrId" column="MNGR_ID" />
		<result property="pwd" column="PWD" />
	</resultMap>


	<!--입력 ARTIST -->
	<insert id="insertArtist">
		insert into t_artist
		(grop_id,nm,sex,type,debut_dt,stus_cd,up_user,up_date,in_user,in_date,grop_img)
		values(seq_grop.nextval,#{artist.nm},#{artist.sex},#{artist.type},#{artist.debutDt},#{artist.stusCd},#{upUser},sysdate,#{upUser},sysdate,#{artist.gropImg})
	</insert>


	<!--입력 ALBUM -->
	<insert id="insertAlbum">
		insert into t_album
		(album_id,album_ttl,rles_dt,album_img,up_user,up_date,stus_cd,in_user,in_date,up_user,up_date)
		values(seq_album.nextval,#{album.albumTtl},#{album.rlesDt},#{album.albumImg},#{upUser},sysdate,#{album.stusCd},#{upUser},sysdate,#{upUser},sysdate)
	</insert>



	<!--입력 TRACK -->
	<insert id="insertTrack">
		insert into t_tracks
		(track_id,track_ttl,mood_cd,genre_cd,situ_cd,stus_cd,ttl_track,track_url,album_id,in_user,in_date,up_date,up_user,track_lyrics,track_order)
		values(seq_tracks.nextval,#{track.trackTtl},#{track.moodCd},#{track.genreCd},#{track.situCd},#{track.stusCd},#{track.ttlTrack},#{track.trackUrl},#{track.albumId},#{upUser},sysdate,sysdate,#{upUser},#{track.trackLyrics},#{track.trackOrder})
	</insert>

	<!--입력 USER -->
	<insert id="insertUser">
		insert into t_user
		(email,nick,pwd,in_date,in_user,up_date,up_user,user_img)
		values(#{user.email},#{user.nick},#{user.pwd},sysdate,#{upUser},sysdate,#{upUser},#{user.userImg})
	</insert>

	<!--입력 ARTIST AND TRACK -->
	<insert id="insertArtistTrack">
		insert into t_artist_tracks
		(track_id,grop_id,up_date,up_user,in_date,in_user)
		values(#{trackId},#{gropId},sysdate,#{upUser},sysdate,#{upUser})
	</insert>

	<!--입력 ARTIST AND GROUP -->
	<insert id="insertArtistGroup">
		insert into
		t_artist_group(grop_id,solo_id,up_date,up_user,in_date,in_user)
		values(#{gropId},#{soloId},sysdate,#{upUser},sysdate,#{upUser})

	</insert>


	<!--작성완료 -->
	<select id="getAlbumList" resultMap="AlbumResult">
		select
		* from t_album
	</select>

	<select id="getAlbum" resultMap="AlbumResult">
		select
		album_id,album_ttl,rles_dt from t_album where album_ttl=#{albumTtl}

	</select>

	<!--작성완료 -->

	<select id="getTracks" resultMap="TrackResult">
		select
		track_id,track_ttl,track_url,album_id from t_tracks where
		track_ttl=#{trackTtl}
	</select>

	<select id="checkTracks" resultMap="TrackResult">
		select track_id from t_tracks
		where track_ttl=#{trackTtl}
		and album_id=#{albumId}
	</select>


	<select id="getTrackList" resultMap="TrackResult">
		select
		* from t_tracks
	</select>

	<!--작성완료 -->
	<select id="getArtistList" resultMap="ArtistResult">
		select * from
		t_artist
	</select>

	<select id="getArtist" resultMap="ArtistResult">
		select grop_id,nm from t_artist where nm =#{nm}
		<!-- ;넣엇네요.. -->
	</select>

	<select id="getArtistById" resultMap="ArtistResult">
		select * from t_artist
		where grop_id=#{gropId}
	</select>

	<select id="getTracksById" resultMap="TrackResult">
		select * from t_tracks
		where track_id =#{trackId}
	</select>


	<select id="getAdmin" resultMap="AdminResult">
		select mngr_id,pwd from t_mngr
		where mngr_id =#{mngrId}
		and pwd =#{pwd}
	</select>

	<select id="getTracksArtistTrack" resultMap="selectMap">
		select * from
		t_artist_tracks where track_id=#{trackId}
	</select>

	<!--업데이트 앨범 -->
	<update id="updateAlbum">
		update t_album
		set album_img =#{album.albumImg},
		album_ttl=#{album.albumTtl},
		stus_cd=#{album.stusCd},
		rles_dt=#{album.rlesDt},
		up_date =sysdate,
		up_user =#{upUser}
		where
		album_id=#{album.albumId}
	</update>
	<!--업데이트 아티스트 -->
	<update id="updateArtist">
		update t_artist
		set grop_img=#{artist.gropImg},
		up_date=sysdate,
		up_user=#{upUser},
		stus_cd=#{artist.stusCd},
		debut_dt=#{artist.debutDt},
		type=#{artist.type},
		sex=#{artist.sex},
		nm=#{artist.nm}
		where grop_id=#{artist.gropId}
	</update>

	<!--업데이트 트랙 -->
	<update id="updateTracks">
		update t_tracks
		set track_ttl=#{track.trackTtl},
		mood_cd = #{track.moodCd},
		genre_cd =#{track.genreCd},
		situ_cd
		=#{track.situCd},
		stus_cd =#{track.stusCd},
		ttl_track
		=#{track.ttlTrack},
		track_url =#{track.trackUrl},
		up_date=sysdate,
		up_user=#{upUser},
		album_id=#{track.albumId},
		track_lyrics=#{track.trackLyrics},
		track_order=#{track.trackOrder}
		where track_id=#{track.trackId}
	</update>

	<update id="updateUser">
		update t_user
		set nick =#{user.nick},
		pwd =#{user.pwd},
		user_img=#{user.userImg},
		up_user=#{upUser},
		up_date=sysdate,
		stus_cd=#{user.stusCd}
		where email=#{user.email}
	</update>

	<select id="getGenreCount" resultMap="selectMap">
		select genre_cd , count(*)
		as count
		from t_tracks
		group by genre_cd
		order by genre_cd
	</select>

	<select id="getCountPlay" resultMap="selectMap">
		select * from(
		select to_char(play_dt,'yy-MM-dd') playdt , count(*) as
		play
		from t_history
		group by to_char(play_dt,'yy-MM-dd')
		order by
		to_char(play_dt,'yy-MM-dd') desc
		)
		where 	<![CDATA[  rownum <=7 ]]>
	</select>

	<select id="getCodeTable" resultMap="selectMap">
		select cd.cd_nm as codenm,cd.cd_no as codeno from
		t_code_type ty,t_code cd
		where ty.type_id=#{typeCode}
		and ty.type_id=cd.type_id

	</select>


</mapper>