<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwani.mapper.UserMapper">

	<resultMap type="com.kwani.domain.UserVO" id="UserResult">
		<result property="email" column="EMAIL" />
		<result property="nick" column="NICK" />
		<result property="pwd" column="PWD" />
		<result property="userImg" column="USER_IMG" />
		<result property="moodCd" column="MOOD_CD" />
		<result property="genreCd" column="GENRE_CD" />
		<result property="situCd" column="SITU_CD" />
		<result property="stusCd" column="STUS_CD" />
		<result property="lastCd" column="LAST_CD" />
		<result property="inUser" column="IN_USER" />
		<result property="inDate" column="IN_DATE" />
		<result property="upUser" column="UP_USER" />
		<result property="upDate" column="UP_DATE" />
	</resultMap>
	
	<resultMap type="int" id="Integer"></resultMap>

	<insert id="insert">
		insert into t_user (email, nick, pwd, user_img,
		mood_cd, genre_cd, situ_cd,
		stus_cd, last_dt, in_user, in_date,
		up_user, up_date)
		values(#{email}, #{nick}, #{pwd}, #{userImg},
		#{moodCd}, #{genreCd},
		#{situCd}, #{stusCd},
		#{lastDt}, #{inUser},
		#{inDate}, #{upUser},
		#{upDate})
	</insert>

	<select id="get" resultType="com.kwani.domain.UserVO">
		select * from t_user where email =
		#{email}
	</select>

	<delete id="delete">
		delete from t_user where email = #{email}
	</delete>
	
	<update id="update">

		update t_user
		set email = #{email}, nick = #{nick},
		pwd = #{pwd}, user_img =
		#{userImg}, mood_cd = #{moodCd},
		genre_cd =
		#{genreCd}, situ_cd = #{situCd}, stus_cd = #{stusCd}, last_dt =
		#{lastDt},
		in_user = #{inUser}, in_date = #{inDate}, up_user =
		#{upUser}, up_date =
		#{upDate}
		where email = #{email}

	</update>

	<select id="checkUserInfo" resultType="com.kwani.domain.UserVO">
		select email, pwd,
		user_img from t_user where email = #{email}
	</select>

	<update id="modifyUserInfo">
		update t_user
		set nick = #{nick}, pwd = #{pwd}
		where email = #{email}
		<!-- 이미지 추가해야함. -->
	</update>
	
	<update id="updateUserImg">
		update t_user
		set user_img = #{userImg}
		where email = #{email}
	</update>
		
	
	<update id="withdrawal">
		update t_user
		set stus_cd = 2
		where email = #{email}
	</update>
	
	<select id="isUserIdVaild" resultType="Integer">
		select count(*) from t_user
		where email = #{email}
	</select>
	
	<select id="checkUserIdPwd" resultType="Integer">
		select count(*) from t_user
		where email = #{email} and pwd = #{pwd}
	</select>
	
	<select id="checkWithdrawUser" resultType="Integer">
		select stus_cd from t_user
		where email = #{IdEmail}
	</select>
	
	<update id="modifyPwd">
		update t_user
		set pwd = #{uuid}
		where email = #{IdEmail}
	</update>
	
</mapper>