* {
	font-family: 'Nanum Gothic', sans-serif;
}

#body {
    display: flex;
    width: 100%;
    height: auto;
}

#bodyContent {
    width: 80%;
    margin-top: 60px;
    height: auto;
}

.todayRecmd{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom:60px;
}

.recmd_text{
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    line-height: 50px;
    margin-bottom: 25px;
}
.todayRecmd #recmd{
	width:25%;
}

#rec_img{
	width: 100%;
	height: 275px;
	text-align:center;
}

#rec_txt{
	width: 100%;
	height: 50px;
	background-color: white;
}

#recmd{ 
    width: 25%;
    height: 350px;
}
.plylstImg{
	width: 265px;
	height:265px;
}
.toLogin{
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    margin-bottom: 50px;
}
.goLogin{
	width: 90%;
	height: 60%;
	margin: auto;
	position: relative;
	border: 3px solid gray;
}
.goLogin p{
	color: black;
	padding-top: 50px;
	text-align: center;
}
.button{
	position: absolute;
	top: 100px;
	right: -5px;
	background-color: #f44336;
	border: none;
  	color: white;
  	padding: 10px 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

.button2{

	background-color: white;
	border: none;
  	color: black;
  	padding: 10px 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

.showMv{
    width: 100%;
    height: 340px;
    background-color: white;
    margin-bottom: 100px;
}

.mv{
    margin-left: 10%;
}

