* {
	font-family: 'Nanum Gothic', sans-serif;
}
#main {
	background-color: black;
}

#body {
    display: flex;
    width: 100%;
    height: 1100px;
}


#bodyContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 200px;
    width: 90%;
    height: 1200px;
    background-color: black;
}
  
.loginBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: whitesmoke;
}

.h1 {
    text-align: center;
    font-size: 30px;
}

.utilBtnContainer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    opacity: 0.8;
}

.nextBtn {
    cursor: pointer;
    border: 1px solid black;
    width: 60%;
    height: 50px;
    background-color: rgb(211, 2, 2);
    color: whitesmoke;
    transition-duration: 0.4s;
    text-align: center;
    line-height: 50px;
}

.nextBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.nextBtn:focus {
    background-color: rgb(211, 2, 2);
    color: whitesmoke;
}

.delete:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.delete:focus {
    background-color: rgb(211, 2, 2);
    color: whitesmoke;
}

.fieldEmail {
	display: flex;
	align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.inputEmail {
    width: 80%;
    height: 40px;
}
 
.textContainer {
    text-align: center;
    padding-bottom: 30px;
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 90px;
}

.cancelBtn {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgb(211, 2, 2); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 40%; 
    transition-duration: 0.4s;
}

.successBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cancelBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


#footer {
    width: 100%;
    height: 400px;
    background-color: black;
}

