* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.slides {
	display: none
}

.slideBoxImg {
	vertical-align: middle;
}

#main {
	background-color: black;
}

#header {
	width: 100%;
	height: 280px;
	box-sizing: border-box;
}

#header_navbar {
	display: flex;
	width: 100%;
	height: 60px;
	background-color: black;
	transition: top 0.3s;
	top: 0;
	position: fixed;
}

#navbarUtil button {
	float: right;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	margin-right: 16px;
	background: rgb(70, 69, 69);
	font-size: 17px;
	border: none;
	cursor: pointer;
}

#navbarUtil button:hover {
	background: rgb(104, 102, 102);
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.overlay {
	margin-top: 60px;
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
}

.overlay-content {
	position: relative;
	top: 0;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.overlay input[type=text] {
	padding: 15px 0;
	font-size: 17px;
	border: none;
	float: left;
	width: 90%;
	background: rgb(199, 198, 198);
}

.overlay input[type=text]:hover {
	background: #f1f1f1;
}

.overlay button {
	float: right;
	width: 10%;
	padding: 15px;
	background: rgb(165, 163, 163);
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.overlay button:hover {
	background: rgb(116, 115, 115);
}

#musicPlayer {
	width: 40%;
	height: 60px;
	color: red;
	text-align: center;
	line-height: 60px;
}

#pageLogo {
	width: 20%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 35px;
}

#pageLogo a {
	color: red;
}

#navbarUtil {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 40%;
	height: 60px;
}

#navbarUtil a {
	font-size: 15px;
	color: whitesmoke;
}

.dropbtn {
	background-color: black;
	color: whitesmoke;
	padding: 12px 30px;
	font-size: 5px;
	border: none;
	cursor: pointer;
	z-index: 1;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: black;
}

.dropdown {
	position: relative;
	display: inline-block;
	z-index: 5;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 5;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: crimson;
}

.show {
	display: block;
}

.fas {
	font-size: 35px;
	color: whitesmoke;
}

#header_cover {
	width: 100%;
	height: 280px;
	margin-top: 60px;
	overflow: hidden;
}

#video {
	width: 100%;
	height: 280px;
	object-fit: cover;
}

#body {
	display: flex;
	width: 100%;
	height: 1100px;
}

.sysdate {
	width: 100%;
	height: 50px;
	background-color: black;
	color: whitesmoke;
	line-height: 50px;
}

.btnDotContainer {
	display: flex;
	background-color: black;
}

.contentBtn {
	width: 59%;
	height: 50px;
	background-color: black;
	color: whitesmoke;
	line-height: 50px;
}

.dotContainer {
	padding-top: 2vh;
}

.topContentBox {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 400px;
	background-color: black;
}

.todayRecmd {
	width: 50%;
	height: 400px;
}

.recmdContainer_1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 200px;
}

.recmdFlip-box {
	background-color: transparent;
  	width: 32%;
  	height: 195px;
  	perspective: 1000px;
}

.recmdFlip-box-inner {
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition: transform 0.5s;
}

.recmdFlip-box:hover .recmdFlip-box-inner {
	transform: rotateY(-180deg);
}

.recmdFront, .recmdBack {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}

.recmdFront {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 1;
	background-color: violet;
	color: black;
}

.recmdImage {
	width:100%;
	height:100%;
}

.recmdArtistName {
	width: 100%;
	position: absolute;
	background-color: black;
	color: whitesmoke;
	opacity: 0.8;
	font-size: 0.6rem;
}

.recmdBack {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: black;
	color: whitesmoke;
	transform: rotateY(-180deg);
}

.backBlank {
	width:100%;
	height:100%;
	background-color: crimson;
	opacity: 0.5;
}

.backText {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width:100%;
	height:100%;
	position: absolute;
}

.recmdContainer_2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 200px;
}

.slideBox {
	width: 30%;
	height: 395px;
	background-color: black;
	margin: auto;
	position: relative;
	max-width: 30%;
}

.slideBoxImg {
	height: 395px;
	width: 100%;
}

.prev, .next {
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	top: -5.5vh;
	width: auto;
	padding: 16px;
	color: whitesmoke;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: whitesmoke;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
	opacity: 0.4
} to {
	opacity: 1
}

}

@keyframes fade {
	from {
	opacity: 0.4
} to {
	opacity: 1
}

}


.loginFormBox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18%;
	height: 150px;
}

.loginBtn {
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	width: 100%;
	height: 45px;
	color: whitesmoke;
	background-color: red;
	transition-duration: 0.4s;
}

.loginBtn:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.welcomeBtn {
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	width: 100%;
	height: 80px;
	color: whitesmoke;
	background-color: red;
	transition-duration: 0.4s;
}

.welcomeBtn:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.bottomContentBox {
	display: flex;
    width: 100%;
    height: 600px;
    background-color: black;
} 
  
.bottomLeftBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	height: 100%;

}
  .genreYearContainer {
	  display: flex;
	  justify-content: center;
	  align-content: center;
	  flex-direction: row;
        width: 40vw;
		height: 50vh;
		margin-left: 3vw;
  }
  
  .genreYearImg {
	  max-width: 62.5%;
	  height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center center;
  }

  .yearCntBox {
	  display: flex;
	  justify-content: flex-start;
	  width: 12vw;
	  height: 2.5vh;
	  margin-top: 21vh;
	  font-size: 1.3rem;
	  border-bottom: 2px solid red;
	  color: red;
	  padding-bottom: 1.75rem;
  }

  .genreCntBox {
	  display: flex;
	  justify-content: flex-end;
	  width: 12vw;
	  height: 2.5vh;
	  margin-top: 21vh;
	  font-size: 1.3rem;
	  border-bottom: 2px solid blue;
	  color: blue;
	  padding-bottom: 1.75rem;
  }
  
  .circle {
      width: 40vw;
      height: auto;
  }
  
  .red {
      border: 4px solid red;
	  border-right: none;
	  border-top: none;
	  border-bottom: none;
      border-radius: 3%;
  }
  
  .year {
      border: 5px solid red;
      background-color: black;
      border-radius: 50%;
      width: 2rem;
      height: 3vh;
      top: 22.5vh;
      right: 0.9vw;
  }
  
  .blue {
      border: 4px solid blue;
	  border-left: none;
	  border-top: none;
	  border-bottom: none;
      border-radius: 3%;
  }
  
  .genre {
      border: 5px solid blue;
      background-color: black;
      border-radius: 50%;
      width: 2rem;
      height: 3vh;
      top: 22.5vh;
      left: 11.65vw;
  }

.bottomRightBox {
	width: 50%;
	height: 100%;
}

.sth {
	color: whitesmoke;
}

#leftSideBar {
	width: 10%;
	height: 1400px;
	background-color: black;
}

#bodyContent {
	width: 80%;
	height: 1400px;
}

#rightSideBar {
	width: 10%;
	height: 1400px;
	background-color: black;
}

#footer {
	width: 100%;
	height: 300px;
}

.footerContainer {
	width: 100%;
	height: 300px;
}


.information {
	display: flex;
	justify-content: center;
	font-size: 1rem;
	width: 100%;
	height: 30%;
}

.information a {
	color: whitesmoke;
	font-weight: bolder;
}

.intro {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid crimson;
	border-right: 2px solid crimson;
	padding-top: 1.5vh;
	height: 50%;
	width: 12%;
}

.noticeBoard {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid crimson;
	border-right: 2px solid crimson;
	padding-top: 1.5vh;
	height: 50%;
	width: 12%;
}

.custInfo {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid crimson;
	padding-top: 1.5vh;
	height: 50%;
	width: 12%;
}

.none {
	border-bottom: 2px solid crimson;
	padding-top: 1.5vh;
	height: 50%;
	width: 12%;
}

.webInfoContainer {
	display: flex;
	justify-content: center;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 1rem;
	width: 100%;
	height: 60%;
}

.leftWebInfo {
	display: flex;
	justify-content: flex-end;
	width: 60%;
	height: 100%;
}

.aboutUs {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	width: 60%;
	height: 80%;
}

.rightWebInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width:  60%;
	height: 80%;
}