
#main {
	background-color: black;
}

#body {
	display: flex;
	width: 100%;
	height: 1100px;
}

.sysdate {
	width: 100%;
	height: 50px;
	background-color: black;
	color: whitesmoke;
	line-height: 50px;
}

.slides {
	display: none;
}

.slideBoxImg {
	vertical-align: middle;
}

.btnDotContainer {
	display: flex;
	background-color: black;
}

.contentBtn {
	width: 59%;
	height: 50px;
	background-color: black;
	color: whitesmoke;
	line-height: 50px;
}

.dotContainer {
	padding-top: 2vh;
}

.topContentBox {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 400px;
	background-color: black;
	z-index: 0;
}

.todayRecmd {
	width: 50%;
	height: 400px;
}

.recmdContainer_1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 200px;
}

.recmdFlip-box {
	background-color: transparent;
  	width: 32%;
  	height: 195px;
  	perspective: 1000px;
}

.recmdFlip-box-inner {
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	position: relative;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	transition: transform 0.5s;
}

.recmdFlip-box:hover .recmdFlip-box-inner {
	transform: rotateY(-180deg);
}

.recmdFront, .recmdBack {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}

.recmdFront {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 1;
	background-color: violet;
	color: black;
}

.recmdImage {
	width:100%;
	height:100%;
}

.recmdArtistName {
	width: 100%;
	position: absolute;
	background-color: black;
	color: whitesmoke;
	opacity: 0.8;
	font-size: 0.6rem;
}

.recmdBack {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: black;
	color: whitesmoke;
	transform: rotateY(-180deg);
}

.backBlank {
	width:100%;
	height:100%;
	background-color: crimson;
	opacity: 0.5;
}

.backText {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width:100%;
	height:100%;
	position: absolute;
}

.recmdContainer_2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 200px;
}

.slideBox {
	width: 30%;
	height: 395px;
	background-color: black;
	margin: auto;
	position: relative;
	max-width: 30%;
}

.slideBoxImg {
	height: 395px;
	width: 100%;
	cursor: pointer;
}

.prev, .next {
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	top: -5.5vh;
	width: auto;
	padding: 16px;
	color: whitesmoke;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: whitesmoke;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
	opacity: 0.4
} to {
	opacity: 1
}

}

@keyframes fade {
	from {
	opacity: 0.4
} to {
	opacity: 1
}

}


.loginFormBox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18%;
	height: 120px;
}

.loginBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	width: 70%;
	height: 30px;
	color: whitesmoke;
	background-color: rgb(211, 2, 2);
	transition-duration: 0.4s;
}

.loginBtn:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.welcomeBtn {
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	width: 100%;
	height: 80px;
	color: whitesmoke;
	background-color: rgb(211, 2, 2);
	transition-duration: 0.4s;
}

.welcomeBtn:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.bottomContentBox {
	display: flex;
    width: 100%;
    height: 600px;
    background-color: black;
} 
  
.bottomLeftBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;

}
  .genreYearContainer {
	  display: flex;
	  justify-content: center;
	  align-content: center;
	  flex-direction: row;
        width: 45vw;
		height: 50vh;
		margin-left: 13vw;
  }
  
  .genreYearImg {
	  max-width: 55%;
	  height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center center;
  }
  
  .genreYearImg:hover {
  	cursor: pointer;
  }

  .yearCntBox {
	  display: flex;
	  justify-content: flex-start;
	  width: 12vw;
	  height: 2.5vh;
	  margin-top: 21vh;
	  font-size: 1.3rem;
	  border-bottom: 2px solid rgb(249, 49, 132);
	  color: rgb(249, 49, 132);
	  padding-bottom: 1.75rem;
  }

  .genreCntBox {
	  display: flex;
	  justify-content: flex-end;
	  width: 12vw;
	  height: 2.5vh;
	  margin-top: 21vh;
	  font-size: 1.3rem;
	  border-bottom: 2px solid rgb(0, 174, 255);
	  color: rgb(0, 174, 255);
	  padding-bottom: 1.75rem;
  }
  
  .circle {
      width: 40vw;
      height: auto;
  }
  
  .red {
      border: 4px solid rgb(249, 49, 132);
	  border-right: none;
	  border-top: none;
	  border-bottom: none;
      border-radius: 3%;
  }
  
  .year {
      border: 5px solid rgb(249, 49, 132);
      background-color: black;
      border-radius: 50%;
      width: 2rem;
      height: 3vh;
      top: 22.5vh;
      right: 0.9vw;
      cursor: pointer;
  }
  
  .year:hover {
  	cursor: pointer;
  }
  
  .blue {
      border: 4px solid rgb(0, 174, 255);
	  border-left: none;
	  border-top: none;
	  border-bottom: none;
      border-radius: 3%;
  }
  
  .genre {
      border: 5px solid rgb(0, 174, 255);
      background-color: black;
      border-radius: 50%;
      width: 2rem;
      height: 3vh;
      top: 22.5vh;
      left: 11.65vw;
      cursor: pointer;
  }
  
  .genre:hover {
  	cursor: pointer;
  }


#bodyContent {
	width: 80%;
	height: 1400px;
}



