*{
	margin: 0;
	padding :0;
	left: 0;
	top: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

table{
	border-collpase: collpase;
	width: 100%;
}

th, td{
	padding: 5px;
	text-align: center;
	border-bottom: 2px solid white;
	width: auto;
}


tr{
	margin-bottom: 10vw;
}

body{
	height:1126px;
}

.item-div{
	display:flex;
	justify-content: left;
	flex-flow:wrap;
}

.item-div .table{
	width: 19em;
	margin: 2em;
}

.button {
  background-color: lightpink;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: plum;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.userImg{
	width:126px;
	height:126px;
}

.table .td8{
	text-align: left;
}

.td7{
	height: 13em;
	width: 13em;
}

.td8{
	height: 13em;
	width : 13em;
}

.tdsmall{
	height: 2em;
}

.th{
	width:2em;
}

.th1, .th2, .th3{
	width: 4em;
}

.th4, .th5, .th6{
	width: auto;
}

.play{
	width: 20px;
	height: 20px;
}

.myImg{
	width: 30px;
	height: 30px;
}

.myAlbumImg{
	width: 100%;
	height: 100%;
}

.myArtistImg{
	width: 68%;
	height: 100%;
}

.mypage-header{
	width: 100%;
	height: 126px;
	display: flex;
	align-items:center;
	background-color: #26254B;
	color:white;
}

.mypage-header .header-item{
	height: 126px;
	font: white;
	background-color: green;
}

.mypage-nav{
	width: 100%;
}

.nav-left{
	width: 50%;
	display: flex;
	justify-content: space-between;
}
.mypage-nav .nav-item{
	background-color:lightpink;
}

.mypage-body{
	width: 100%;
}

.mypage-body .body-item{
	margin-bottom: 3vw;
	justify-content: center;
}

.body-item .item-header{
	margin-bottom: 2vw;
}

.container {
	display:flex;
}

.item a{
	display: block;
}

.item-body .item{
	margin-right: 2vw;
}

.bg-bl{
	background-color: #FFEBE1;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}