a {
	text-decoration: none;
	color: black;
}

p{
	font-size: 13px;
}

#body{
	display: flex;
	width: 100%;
	height: auto;
}

#bodyContent{
	width: 80%;
	height: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-size: 13px;
}

th, td {
	padding: 5px;
	text-align: center;
	width: auto;
	height: auto;
	border-bottom: 1px solid #ddd;
}

tr {
	margin-bottom: 5vw;
}

tr:hover {background-color:#f5f5f5;}

li {
	list-style-type: none;
}

li:hover {
	background-color:#f5f5f5;
	border-radius: 6px;	
}

.myArtistImg {
	width: 220px;
	height: 220px;
	opacity: 1;
  	transition: .5s ease;
}

.artist-td {
	position: relative;
}

.img-background{
	background-color: black;
	width: 220px;
	height: 220px;
	margin: 0 0.8vw 0 0.8vw;
}

.text{
	color: white;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.artist-td:hover .myArtistImg {
	opacity: 0.3;
}

.artist-td:hover .middle {
	opacity: 1;
}

#addModal{
	z-index: 3;
}

#addModal .modal-content{
	width: 70%;
	height: auto;
}

#myModal{
	z-index: 10;	
}

#myModal .modal-content{
	width: 40%;
}

.modal {
	clear: both;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal .modal-content{
	clear: both;
	height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	
}

.modal-content{
	padding: 20px 40px;
	border-radius: 6px;
	text-align: center;
}

.modal-footer{
	text-align: center;
}

.modal-overlay{
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal-close{
	position: absolute;
	top: 5%;
	left: 94%;
	font-size: 20px;
	color: grey;
}

.modal-close:hover,
.modal-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header{
	text-align: center;
}

.img-container{
	position: relative;
	width: 220px;
	height: 220px;
}

.img-container .myPlaylistImg{
	position: absolute;
	transform: translate(-50%);
}

.img-container .moreImg{
	position: absolute;
	left: 85%;
	top: 4%;
}

.img-container ul {
	left: 78%;
	top: 40px;
	width: 80px;
	height: auto;
	text-align: center;
}

.img-container ul li {
	height: auto;
	text-align: center;
}

.item-div {
	width: 90%;
	margin: 0 0 0 5%;
	position: relative;
	display: flex;
	justify-content: left;
	overflow-x: scroll;
}

.item-div::-webkit-scrollbar {
    display: none;
}

.item-div .table {
	width: 220px;
	margin: 0 1vw 0 1vw;
}

.item-div .basicTable{
	width: 17vw;
	margin: 0 1vw 0 1vw;
}

.basicTable{
	width:100%;
	height:100%;
}

.button {
	background-color: white;
	color: black;
	padding: 10px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-bottom: 3px solid #fff;
}

.button:hover{
	border-bottom: 3px solid #b90000;
}

.button2 {
	background-color: white;
	color: #b90000;
	padding: 10px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-bottom: 3px solid #b90000;
}

.button3 {
	background-color: white;
	color: black;
	padding: 10px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	width: 220px;
	height: 40px;
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
}

.button4 {
	background-color: white;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
}

.userImg {
	width: 126px;
	height: 126px;
}

.table .td8 {
	text-align: left;
}

.td7 {
	height: 13em;
	width: 13em;
}

.td8 {
	height: 13em;
	width: 13em;
}

.tdsmall {
	height: 2em;
}

.th {
	width: 2em;
}

.th1, .th2, .th3 {
	width: 4em;
}

.th1{
	width: 1vw;
}

.th2{
	width: 2vw;
}

.th3{
	width: 3vw;
}

.th4{
	width: 4vw;
}

.th5{
	width : 5vw;
}

.th6 {
	width: 6vw;
}

.heart, .heart-empty{
	width: 20px;
	height: 20px;
}

.play {
	width: 20px;
	height: 20px;
}

.dd-plylst-content {
	background-color: white;
	display: none;
	position: relative;
	border-radius: 6px;
	border: 1px solid lightgray;
}

.show {display: block;}

.myImg {
	width: 30px;
	height: 30px;
}

.editImg{
	width: 15px;
	height: 15px;
}

.myPlaylistImg{
	width: 220px;
	height: 220px;
}

.moreImg{
	width: 25px;
	height: 25px;
	z-index: 1;
	display:none;
}

.myAlbumImg {
	width: 220px;
	height: 220px;
}

.mypage-header {
	width: 100%;
	height: 126px;
	display: flex;
	align-items: center;
	background-color: white;
	color: white;
}

.mypage-header .header-item {
	height: 126px;
	font: black;
	background-color: green;
}

.mypage-nav {
	width: 100%;
	background-color: white;
	border-bottom : 1px solid black;
}

.nav-left {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.mypage-nav .nav-item {
	background-color: white;
}

.mypage-body {
	width: 100%;
}

.mypage-body .body-item {
	justify-content: center;
}

.body-item{
	margin: 2vw 2vw 3vw 2vw;
}

.container {
	display: flex;
}

.item a {
	display: block;
}

.item-body .item {
	margin-right: 2vw;
}

.bg-bl {
	background-color: white;
}

/* Style the search field */
form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

/* Style the submit button */
form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}

form.example button:hover {
	background: #0b7dda;
}

/* Clear floats */
form.example::after {
	content: "";
	clear: both;
	display: table;
}