
#main {
	background-color: black;
}

#body {
    display: flex;
    width: 100%;
    height: 1100px;
}


#bodyContent {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    width: 80%;
    height: 1200px;
    background-color: black;
}
  
.loginBox {
    border-radius: 10%;
    width: 500px;
    height: 600px;
    border: 1px solid black;
    background-color: whitesmoke;
}

.h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    text-align: center;
    height: 200px;
}

.emailField {
    width: 100%;
    height: 40px;
}

.nickField {
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

.pwdField {
    padding-top: 10px;
    width: 100%;
    height: 40px;
}

.pwdReField {
    width: 100%;
    height: 40px;
}

.inputEmail {
    width: 60%;
    height: 40px;
}

.inputNick {
    width: 60%;
    height: 40px;
}

.inputPwd {
    width: 60%;
    height: 40px;
}

.inputPwdRe {
    width: 60%;
    height: 40px;
}

.loginBtn {
    margin-bottom: 10px;
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 60%;
    margin-top: 50px;
}

.socialLoginBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
    margin-top: 50px;
}

.infoUtil {
    margin-top: 20px;
    margin-left: 50px;
    width: 80%;
    height: 50px;
    text-align: center;
    line-height: 25px;

}

#footer {
    width: 100%;
    height: 300px;
    background-color: black;
}

