p {
	font-size: 20px;
}

#body {
	
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#bodyContent {
    width: 80%;
    height: auto;
    overflow: hidden;
}

.artist1, .album1 {
	width: 20rem;
	height: auto;
	margin-top: 10px;
}

.artist1 a, .album1 a {
	font-size: 1.3rem;
	cursor: pointer;
}

.textInfo {
	font-size: 2rem;
}

hr.one{
	border: 0.1px solid lightgray;
	margin-top: 4rem;
	margin-bottom: 1.5rem;
}

.title1 {
	margin-top: 1rem;
	font-size: 1.3rem;;
}


.plylstBtn{
    background-color: #e7e7e7; 
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; 
    cursor: pointer;
    height: 36px;
}

.searchRst{
    width: 100%;
    height: 100px;
    background-color: white;
    line-height: 100px;
}
.rstTap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 30px;
    border-bottom : 1px solid black;
}

.rstInfo{
    display: flex;
    width: 100%;
    height: 250px;
    background-color: white;
    padding-top: 25px;
    box-sizing: border-box;
}
.rstImg{
    width: 20%;
    height: 200px;
    background-color: white;
}
.artistImg{
	height: 200px;
	width: 200px;
}
.rstText{
    width: 30%;
    height: 200px;
    background-color: white;
    padding-left: 20px;
}
.trackHeader{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}
.trackTable{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-bottom: 50px;
}
.heartParent{
	width:108px;
	text-align: center;	
}

.defaultHeartImg{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.redHeartImg{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.albumTxt{
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 1.5rem;
}
.albumImgContainer{
	display: flex;
    width: 100%;
    height: 35vh;
    overflow: hidden;
    background-color: white;    
	justify-content: flex-start;
	margin-bottom: 50px;
}
.eachAlbum{
	width: 20%;
	height: 300px;
	margin-right: 15px;
}
.albumImg{
	width: 100%;
	height: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.albumArtist{
	width: 100%;
	height: 30px;
	margin-top: 10px;
}
.albumTtl{
	width: 100%;
	height: 30px;
}

.artistRstTxt{
    width: 100%;
    height: 50px;
    background-color: white;
}
.artistRstContainer{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-bottom: 50px;
}
.artistTable{
	width: 100%;
}
.artistSmallImg{
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.td1{
	width: 20%;
}
.td2{
	width: 30%;
}
.td3{
	width: 20%;
}
.td4{
	width: 20%;
}

a{
	text-decoration: none;
	color: inherit;
}

.lyricsTxt{
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 1.5rem;
}
.lyricsContainer{
	flex-direction: column;
	justify-content: flex-start;
    width: 100%;
    height: 300px;
    background-color: white;
    margin-bottom: 100px;
}
.eachLyrics{
	width: 100%;
	height: 100px;
	background-color: white;
}
.lyricsTtl{
	width: 100%;
	height: auto;
	font-weight: bold;
	margin-bottom: 1rem;
}
.lyricsContent{
	width: 100%;
	height: auto; 
	border: none;
	overflow: hidden;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	font-size: 1.1rem;
	margin-bottom: 1rem;
}
.lyricsInfoContainer{
	width: 100%;
	height: 25px;
}

.lyricsArtist{
	width: 20%;
	height: 25px;
	display: inline-block;
	margin-bottom: 1rem;
}
.lyricsAlbum{
	width: 50%;
	height: 25px;
	display: inline-block;
}

.textInfo{
    line-height: 50px;
}
.btnParent{
	text-align: center;
}
.playBtn{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.th0{
    width: 3%;
}
.th1{
    width: 5%;
    color: rgb(141, 138, 138);
}
.th2{
    width: 20%;
    color: rgb(141, 138, 138);
}
.th3{
    width: 30%;
    color: rgb(141, 138, 138);
}
.th4{
    width: 10%;
    text-align: center;
    color: rgb(141, 138, 138);
}
tr:hover {background-color:#f5f5f5;}

button:hover, .btn:hover {
	background-color: black;
	color: red;
}
 