
#body {
    display: flex;
    width: 100%;
    height: auto;
}

#bodyContent {
    width: 80%;
    height: auto;
}
/* 명희 작품*/
#tableContainer1{
	display:flex;
	flex-direction:column; 
	margin-bottom: 100px;
}
#tableContainer2{
	display:flex;
	flex-direction:column;
}

.searchRst{
    width: 100%;
    height: 100px;
    background-color: white;
    line-height: 100px;
}
.rstTap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 30px;
}
.rstInfo{
    display: flex;
    width: 100%;
    height: 250px;
    background-color: white;
    padding-top: 25px;
    box-sizing: border-box;
}
.rstImg{
    width: 20%;
    height: 200px;
    background-color: white;
}
.artistImg{
	height: 200px;
	width: 200px;
}
.rstText{
    width: 30%;
    height: 200px;
    background-color: white;
    padding-left: 20px;
}

.heartParent{
	width:108px;
	text-align: center;	
}

.defaultHeartImg{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.redHeartImg{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.albumTxt{
    width: 100%;
    height: 50px;
    background-color: white;
}
.albumImgContainer{
	display: flex;
    width: 100%;
    height: 310px;
    background-color: white;    
	justify-content: space-between;
}
.eachAlbum{
	width: 20%;
	height: 300px;
}
.albumImg{
	width: 100%;
	height: 250px;
}
.albumArtist{
	width: 100%;
	height: 20px;
}
.albumTtl{
	width: 100%;
	height: 30px;
}

.artistRstTxt{
    width: 100%;
    height: 50px;
    background-color: white;
}
.artistRstContainer{
    width: 100%;
    height: 300px;
    background-color: white;
}
.artistTable{
	width: 70%;
}
.td1{
	width: 20%;
}
.td2{
	width: 40%;
}
.td3{
	width: 20%;
}
.td4{
	width: 10%;
}
hr.one{
	border: 0.1px solid lightgray;
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration: underline gray;
}
.textInfo{
    line-height: 50px;
}
.btnParent{
	text-align: center;
}
.playBtn{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.th0{
    width: 5%;
}
.th1{
    width: 10%;
}
.th2{
    width: 20%;
}
.th3{
    width: 40%;
}
.th4{
    width: 10%;
    text-align: center;
}

.pull-right{
	width: 400px;
	height: 66px;
	text-align: center;	 
	margin-top: 20px;
}
.pagination{
	display: inline-block;
}
.pagination a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 0.8em;
}
.pagination a.active{
	background-color: rgb(189, 12, 12);
	color: white;
}
.pagination button.active{
	background-color: rgb(189, 12, 12);
	color: white;
}
.pagination a:hover:not(.active){
	background-color:  rgb(156, 6, 6);
	color: white;
}
.pagination a.active:hover{
	background-color:  rgb(156, 6, 6);
	color: white;
}
.pagination button{
	background-color: white;
}

